In [1]:
li = [2, 0, 1, 8, 1, 6, 4, 0]

[a*2 for a in li]

[4, 0, 2, 16, 2, 12, 8, 0]

In [2]:
li = [("a", 2), ("b", 0), ("c", 1), ("d", 8)]

[a*2 for (b, a) in li]

[4, 0, 2, 16]

In [4]:
li = [2, 0, 1, 8, 1, 6, 4, 0]

[a*2 for a in li if a>3] # 3을 초과하는 a의 값는 8 6 4뿐이다

[16, 12, 8]

In [7]:
li = [2, 0, 1, 8, 1, 6, 4, 0]

[a*2 for a in
  [b+2 for b in li]] #전체 값에 2를 더한 이후 2를 곱한다

[8, 4, 6, 20, 6, 16, 12, 4]