In [1]:
li = ["dsu", 23, 3.14, 123]

li[1] = 24

li

['dsu', 24, 3.14, 123]

In [3]:
t = (23, "dsu", 4.56, (2,3), "abc")

t[2] = 3.14 
# 튜플의 오브젝트는 immutable하기 때문에 에러발생

TypeError: ignored

In [6]:
t = (23, "dsu", 4.56, (2,3), "abc")

print(t)

t = (24, "DSU", 3.14, (2,3), "ABC") # 아예 같은이름으로 튜플을 재정의하면 오류가 발생하지않는다

print(t)

(23, 'dsu', 4.56, (2, 3), 'abc')
(24, 'DSU', 3.14, (2, 3), 'ABC')

In [11]:
li = [1, 11, 3, 4, 5]

li.append("d") # 마지막에 추가

print(li)

li.insert(1, "s") # 중간에 삽입

print(li)

[1, 11, 3, 4, 5, 'd']
[1, 's', 11, 3, 4, 5, 'd']

In [12]:
li.extend([7, 8, 9]) 

li

[1, 's', 11, 3, 4, 5, 'd', 9, 8, 7]

In [13]:
li.append([10, 11, 12])

li

[1, 's', 11, 3, 4, 5, 'd', 9, 8, 7, [10, 11, 12]]

In [23]:
li = ["d", "s", "u", "a"]

li.index("u")

print(li)

li.remove("a")

li

['d', 's', 'u', 'a']

['d', 's', 'u']

In [24]:
li.count("u")

1

In [26]:
li = [5, 2, 3, 6]

li.reverse()

print(li)

li.sort()

li

[6, 3, 2, 5]

[2, 3, 5, 6]

In [30]:
tu = tuple(li) # 리스트를 튜플로 변환

print(tu)

li = list(tu) # 튜플을 리스트로  변환

li

(2, 3, 5, 6)

[2, 3, 5, 6]