In [5]:
d = {"user" : "xhfal", "pswd" : 123}

print(d["user"])
print(d["pswd"])

xhfal
123

In [6]:
d["xhfal"] # 키에러 발생

KeyError: ignored

In [11]:
d = {"user" : "xhfal", "pswd" : 123}

d["user"] = "dsu" # user의 값을 업데이트하는방법

d

{'user': 'dsu', 'pswd': 123}

In [12]:
d["id"] = 20181640

# 새로운 키와 값을 입력하면 업데이트가 아닌 추가가 된다

d

{'user': 'dsu', 'pswd': 123, 'id': 20181640}

In [13]:
d = {'user': 'dsu', 'pswd': 123, 'id': 20181640}

del d ["user"] # 키를 삭제

d

{'pswd': 123, 'id': 20181640}

In [16]:
d = {'user': 'dsu', 'pswd': 123, 'id': 20181640}

d.clear() # d의 내용물을 전부 삭제

d

{}

In [18]:
a = [1, 2]

del a[1] # 삭제할 키의 위치지정 가능

a

[1]

In [21]:
d = {'user': 'dsu', 'pswd': 123, 'id': 20181640}

print(d.keys()) # 키 내용물이 아닌 키 자체를 출력

print(d.values()) # 모든 키의 값을 출력

print(d.items()) # 요소를 전부 튜플로 변경, 키가 튜플과 마찬가지로 immutable하기 때문에 가능한것처럼 보임

dict_keys(['user', 'pswd', 'id'])
dict_values(['dsu', 123, 20181640])
dict_items([('user', 'dsu'), ('pswd', 123), ('id', 20181640)])