In [9]:
a = 2
b = "asd"



for i in range(0, 4):
  print(a)
  a += a

for j in b:
  print(j)

TypeError: ignored

In [8]:
for (x, y) in [("a",1), ("b",2), ("c",3), ("d",4)]:
  print(x, y) # <item>는 하나일 필요는 없다

a 1
b 2
c 3
d 4

In [12]:
a = 2
b = int(input("2의 x승의 값 출력------ x의 값 : "))
for i in range(0, b):
  print(a)
  a += a

2의 x승의 값 출력------ x의 값 : 4
2
4
8
16